<div style="padding:20px;">

    <table class="table table-hover table-bordered text-center">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Add</th>
            </tr>
        </thead>
        <tbody>
            <% var i=1 %>
                <% for(pro of products){ %>

                    <tr>
                        <th scope="row">
                            <%=i %>
                        </th>
                        <td>
                            <img src="<%=pro.image%>" style="width: 100px" alt="" class="imgsize">
                            <%=pro.name%>

                        </td>
                        <td>
                            <%=pro.description%>
                        </td>
                        <td>
                            <%=pro.stock%>
                        </td>
                        <td>
                            <%=pro.total_price%>
                        </td>
                        <td>
                            <% if(locals.user){ %>
                                <a href="/customers/update-cart/<%= customer.id %>/<%=pro.id%>/minus/<%=pro.stock%>"
                                    class="btn text-center"
                                    style=" padding: 0px 7px 0px 7px; color:antiquewhite; background-color: #343A40; border-right: 0px;">-</a>
                                <button id="<%=i%>" style=" padding: 0px 15px 0px 15px; border:none">
                                    <% let flag = false %>
                                    <% for(item of cartItems){ %>
                                        <% if(pro.id==item.ProductId ) { %>
                                            <% flag = true %>
                                            <% break; %>
                                        <% } %>
                                    <% } %>
                                    <% if(flag){ %>
                                        <%=item.quantity%>
                                    <% }else{ %>
                                        0
                                    <% } %>
                                </button>
                                <a href="/customers/update-cart/<%= customer.id %>/<%=pro.id%>/plus/<%=pro.stock%>"
                                    class="btn text-center"
                                    style=" padding: 0px 7px 0px 7px; color:antiquewhite; background-color: #343A40;  border-left: 0px;">+</a>
                                <% }else{ %>
                                    <button class="text-center" onClick="removefromcart('<%=i%>')"
                                        style=" padding: 0px 7px 0px 7px; color:antiquewhite; background-color: #343A40; border-right: 0px;">-</a>
                                        <button id="<%=i%>" style=" padding: 0px 15px 0px 15px; border:none">0</button>
                                        <button class=" text-center" onClick="addtocart('<%=i%>', '<%=pro.stock%>')"
                                            style=" padding: 0px 7px 0px 7px; color:antiquewhite; background-color: #343A40;  border-left: 0px;">+</a>
                                            <% } %>
                        </td>
                    </tr>
                    <%i+=1%>
                        <% } %>
        </tbody>
    </table>
</div>

<script>
    function removefromcart(id) {
        if (Number(document.getElementById(id).innerHTML) < 1) {
            return;
        }
        document.getElementById(id).innerHTML -= 1;
    };
    function addtocart(id, stock) {
        const curr = Number(document.getElementById(id).innerHTML);
        if (curr >= stock) {
            return;
        }
        if (curr == 0) {

        }
        document.getElementById(id).innerHTML = curr + 1;
    };
</script>